body{
    background-color: rgb(9, 1, 18);
    color: rgb(224, 144, 157);
}

header{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: fit-content;
}
.about{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    background: pink;
    backdrop-filter: blur(10px);
    padding: 25px 5%;
   font-style: normal;
   list-style: none;
}
.about a{
    text-decoration: none;
     transition: 0.3s;
}
.about a:hover{
   color: rgb(58, 9, 13);
}
.head{
    background-color: rgb(50, 5, 59);
}
.middle{
    background-color: rgb(55, 23, 62);
}
.last{
    background-color: aquamarine;
    border: 10%;
    bor
}